<div>
    <header class="p-3 text-white d-none d-lg-block">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="" alt="" srcset="">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#benefits" class="nav-link px-2 link-secondary">Benefits</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Contact US</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">About US</a></li>
                </ul>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-dark me-2">Login</button>
                    <button type="button" class="btn btn-warning">Free Trial</button>
                </div>
            </div>
        </div>
    </header>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light d-lg-none p-3">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" href="#">

                Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./contact-us">Contact Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./about-us">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./sign-up">Free Trial</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>